.track {
  stroke: lightgray;
  fill: none;
}

.progress {
  fill: none;
  stroke: tomato;
  stroke-width: 10px;
  stroke-dasharray: 630;
  stroke-dashoffset: 0;
}

.progress p {
  justify-content: center;
}
