.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circle {
  width: 140px;
  height: 140px;
}

.progressbar__track {
  fill: transparent;
  stroke: lightgray;
  stroke-width: 3px;
}

.progressbar__thumb {
  fill: transparent;
  stroke: rgba(255, 0, 0, 0.568);
  stroke-width: 3px;
  stroke-dasharray: calc(30 * 2 * 3.141593);
  stroke-linecap: unset;
  animation-name: progress;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progressbar__thumb--track-1 {
  stroke: rgba(255, 0, 0, 0.568);
  animation-duration: 1.6s;
}

.progressbar__thumb--track-2 {
  stroke: green;
  animation-duration: 1.8s;
  animation-delay: 0.2s;
}

.progressbar__thumb--track-2 {
  stroke: rgba(255, 0, 0, 0.568);
  animation-duration: 1.2s;
  animation-delay: 0.4s;
}

@keyframes progress {
  to {
    stroke-dasharray: 180;
  }
}
