.chaos-meter-container {
  position: absolute;
  // left: 500px;
  border: 3px solid green;
}

.track {
  stroke: lightgray;
  fill: none;
}

.progress {
  fill: none;
  stroke: tomato;
  stroke-width: 10px;
  stroke-dasharray: 630;
  stroke-dashoffset: 0;
}

.progress p {
  justify-content: center;
}

@keyframes progress {
  to {
    stroke-dasharray: 180;
  }
}
