*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Comfortaa',
    cursive; */
  /* color: red; */
}

body {
  // height: 100vh;
  background-image: url(./assets/allIcons/map.svg);
  background-size: cover;
  background-position: center;
  // overflow: hidden;
  backdrop-filter: blur(50px);

}

.app-outer-wrapper {
  border: 3px solid rgba(136, 255, 0, 0);
  background: rgba(255, 255, 255, 0.473);
}

.app-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: "sidebar gameboard";
  height: calc(100vh - 40px);
  margin: 20px;
  // padding: 20px;
  // border-radius: 30px;
  // border: 3px solid rgb(21, 255, 0);
}


.sidebar-left {

  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  width: 100%;
  height: 100%;
  // border: 3px solid red;
  border-radius: 30px;
}


.board-container {
  /* box-sizing: ; */
  display: flex;
  grid-area: gameboard;
  margin-left: 20px;
  width: auto;
  height: 100%;
  // border: 2px solid green;
  border: 2px solid rgba(255, 255, 255, 0.288);
  background: rgba(255, 255, 255, 0.473);

  border-radius: 30px;
}

#game-board {
  width: 1200px;
  height: 1200px;
  background-color: pink; 
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(/assets/allIcons/game-board.svg);
  background-color: lightgoldenrodyellow;
  background-size: cover;
  display: grid;
  grid-template-columns: 22% 19% 13% 6% 13% 7% 7% 13%;
  grid-template-rows: 29% 15% 9% 7% 40%;
  position: relative;
}

// .grid-cell {
//   position: relative;
// }

// .source-container {
//   position: absolute;

// Community sources

.university {
  grid-area: 3/1/4/2;
  position: absolute;
  left: 58%;
  top: 70%;
}

.local-cult {
  grid-area: 1/2/2/3;
  position: absolute;
  left: 55%;
  top: 80%;
}

.high-school {
  grid-area: 2/2/3/3;
  position: absolute;
  left: 23%;
  top: 42%;
}

.pub {
  grid-area: 3/2/4/3;
  position: absolute;
  left: 28%;
  top: 50%;
}

.taxi {
  grid-area: 4/2/5/3;
  position: absolute;
  left: 75%;
  top: 0%;
}

.asda {
  grid-area: 2/3/3/4;
  position: absolute;
  left: 75%;
  top: 67%;
}

.gym {
  grid-area: 3/3/4/4;
  position: absolute;
  left: 18%;
  top: 15%;
}

.hair-salon {
  grid-area: 4/3/5/4;
  position: absolute;
  left: 65%;
  top: 30%;
}

.instagram {
  grid-area: 3/5/4/6;
  position: absolute;
  left: 65%;
  top: 40%;
}

.facebook {
  grid-area: 4/5/5/6;
  position: absolute;
  left: 65%;
  top: 22%;
}

.youtube {
  grid-area: 3/6/4/7;
  position: absolute;
  left: 35%;
  top: 40%;
}

.twitter {
  grid-area: 5/6/6/7;
  position: absolute;
  left: 35%;
  top: 3.5%;
}

.illuminatify {
  grid-area: 3/7/4/8;
  position: absolute;
  left: 35%;
  top: 40%;
}

.reddit {
  grid-area: 4/7/5/8;
  position: absolute;
  left: 35%;
  top: 22%;
}

.whatsapp {
  grid-area: 3/8/4/9;
  position: absolute;
  left: 20%;
  top: 40%;
}

.tiktok {
  grid-area: 5/8/6/9;
  position: absolute;
  left: 20%;
  top: 3.5%;
}



.source-card-hand {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  /* height: 800px; */
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: 500px;
  // border: 3px solid yellow;
  // padding: 10px;
}

.source-card-cell {
  width: 100%;
  height: 100px;
  border: 3px solid rgb(136, 255, 0);
}