@import '../../style/theme';
@import '../../style/variables.scss';

.name-container p {
  font-size: $size-ratio * 0.25;
  margin: 0;
  font-weight: 700;
}

.name-container {
  justify-self: start;
  margin: $size-ratio*0.1;
}

.card-icon {
  width: $size-ratio * 0.8;
  height: $size-ratio * 0.8;
}

.source-card-container {
  @include glass-panel;
  margin-bottom: $size-ratio*0.1;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: $size-ratio auto;
  height: $size-ratio;

  transform: scale(1);
  transition:
    transform 200ms ease-in-out;
}

.source-card-container:hover {
  transform: scale(1.05);
}