@import '../../style/theme';

.name-container p {
  font-size: 17px;
  margin: 0;
  font-weight: 700;
}

.name-container {
  justify-self: start;
  margin: 10px;
}

.card-icon {
  width: 80%;
  height: 80%;
}

.source-card-container {
  @include glass-panel;
  margin-bottom: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 70px auto;
  height: 70px;

  transform: scale(1);
  transition:
    transform 200ms ease-in-out;
}

.source-card-container:hover {
  transform: scale(1.05);
}