@import '../../style/theme';


.cure-deck-container {
  display: flex;
  height:150px;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  bottom: 0;
}

.debunk-indicator {
  @include glass-panel();
  flex-basis: 30%;
  height:90%;
  margin: 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;



}

.icon {font-size: 55px;}

.A{
  background-color: #00BBF9;

}

.B{
  background-color: #F15BB5;
}

.C{
  background-color: #FEE440;
}