@import '../../style/theme';
@import '../../style/variables.scss';

.player-prompt-container {
  @include scroll-panel;
  width: 100%;
  height: $size-ratio*4;
  flex-direction: column;
  margin-top: $hud-margin;
}

.player-prompt-container::-webkit-scrollbar {
  display: none;
}

.single-message {
  @include glass-panel;
  margin-bottom: 10px;
  font-size: $size-ratio *0.22;
  padding: 10px;
  text-align: center;
}
