@import '../../style/theme';

.player-prompt-container {
  @include scroll-panel;
  height: 350px;
  width: 100%;
  flex-direction: column-reverse;
  /* align-items: center; */
}

.player-prompt-container::-webkit-scrollbar {
  display: none;
}

.single-message {
  @include glass-panel;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
