* {
}

.form {
  /* display: flex; */

  flex-direction: column;
  box-shadow: 0 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 25px 35px;
  border-radius: 3px;
  /* width: 30%; */
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px 0;
}

input {
  margin-bottom: 15px;
  height: 18px;
  border-radius: 5px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  width: 100%;
}

.title-container {
  /* justify-self: center; */
  /* border: 3px solid blue; */
  font-size: 36px;
}

.start_game_button {
  background: lightblue;
  padding: 15px 35px;
  font-size: 1em;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  color: white;
  margin: 15px auto;
  width: 30%;
}