.source-container {
  height: 30px;
  width: 30px;
}

.social {
  background-color: 'blue';
}

.community {
  background-color: 'red';
}

.relations {
  background-color: 'yellow';
}

.markers-container {
  width: 100px;
  height: 100px;
  display: flex;
}

.source-container.can-move-to {
  border: 3px solid yellow;
}

.can-log-on {
  /* 
  can go to a specific place
  on the source-container 
  */
}

.can-log-off {
  /* 
  can go to any place
  on the source-container 
  */
  
}

.can-share-with{
  /* on the playerPawn */
}