@import '../../style/variables.scss';

$source-icon-size: $width-ratio * 0.7;

.source-container {
  position: relative;
  height: $source-icon-size;
  width: $source-icon-size;

  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .player-pawn-container {
    position: absolute;
    left: -50%;
    top: -45%;
    display: grid;
    svg {
      position: relative;
    }
  }

  .markers-container {
    position: absolute;
    width: 200%;
    left: 50%;
    top: -45%;
    display: flex;
  }
}

.size2 {
  transform: scale(1.5);
}

.size3 {
  transform: scale(1.8);
}

#source-parent-grid-container .social {
  transform: scale(1.4);
}

#source-parent-grid-container .markers-container {
  transform: scale(0.5);
}

.source-container.can-move-to svg:nth-child(2) path {
  fill: rgba(255, 230, 90, 0.514);
  animation: canMove 1s infinite;
}

.source-container.can-log-on svg:nth-child(2) path {
  fill: rgba(63, 233, 77, 0.568);
  animation: canLogOn 1s infinite;
}

.source-container.can-log-off svg:nth-child(2) path {
  fill: rgba(107, 90, 255, 0.637);
  animation: canLogOff 1s infinite;
}

@keyframes canMove {
  0% {
    fill: rgba(255, 255, 255, 0.281);
  }

  50% {
    fill: rgba(255, 230, 90, 0.281);
  }

  100% {
    fill: rgba(255, 255, 255, 0.281);
  }
}

@keyframes canLogOn {
  0% {
    fill: rgba(255, 255, 255, 0.281);
  }

  50% {
    fill: rgba(63, 233, 77, 0.281);
  }

  100% {
    fill: rgba(255, 255, 255, 0.281);
  }
}

@keyframes canLogOff {
  0% {
    fill: rgba(255, 255, 255, 0.281);
  }

  50% {
    fill: rgba(107, 90, 255, 0.281);
  }

  100% {
    fill: rgba(255, 255, 255, 0.281);
  }
}

svg path.high-school {
  stroke: #00ff00;
}

.selectedDebunkableCard {
  background-color: hotpink;
}
