.source-container {
  height: 30px;
  width: 30px
}

.social {
  background-color: 'blue';
}

.community {
  background-color: 'red';
}

.relations {
  background-color: 'yellow';
}

.markers-container {
  width: 100px;
  height: 100px;
  display: flex;
}