@import '../../style/variables.scss';
$sl-circle-size-small: $size-ratio*0.3;
$sl-circle-size-large: $size-ratio*0.5;

.spread-level-container {
  height: $size-ratio*0.6;
  width: 100%;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  border: 1px solid grey;
  border-radius: 5px;
}

.spread-level-circle {
  font-size: $sl-circle-size-small * 0.8;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $sl-circle-size-small;
  width: $sl-circle-size-small;
  border-radius: 50%;

  background-color: whitesmoke;
}

.spread-level-circle.isActive {
  font-size: $sl-circle-size-large * 0.5;
  font-weight: 700;
  height: $sl-circle-size-large;
  width: $sl-circle-size-large;
  color: red;
}
