
@import '../../style/variables.scss';
$sl-circle-size-small: 20px;
$sl-circle-size-large: 50px;

.spread-level-container {
  // margin: $hud-margin;

  // position: absolute;
  height: 50px;
  width: 100%;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  border: 1px solid grey;
}

.spread-level-circle {
  font-size: $sl-circle-size-small * 0.8;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $sl-circle-size-small;
  width: $sl-circle-size-small;
  border-radius: 50%;
  // flex-basis: 18%;
  background-color: rgb(197, 197, 197);

}

.isActive {
  font-size: $sl-circle-size-large * 0.5;
  height: $sl-circle-size-large;
  width: $sl-circle-size-large;
  color: white;
}
